<ion-view title="Choose friends">

  <ion-content class="has-header">
    
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="searchfriend" id='inputfriendname' type="text" placeholder="type a name to search or add" >
        </label>
        <button class="button button-small" menu-close ng-click="addfriend()">
          Add
        </button>
      </div>

    <h5> All Friends List</h5>

    <ion-list>
      <ion-radio ng-click="choose(friend.name)" ng-repeat="friend in allfriends | filter:searchfriend">{{friend.name}}</ion-radio>
    </ion-list>
    
    <h5> New Friend</h5>
    {{searchfriend}}
<!--     <ion-list>
      <ion-checkbox ng-model="isChosen" ng-repeat="playlist in playlists">{{playlist.title}}</ion-checkbox>
    </ion-list> -->
  </ion-content>
</ion-view>