<ion-view title="Add one to one bill">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>



  <ion-content>
    <form ng-submit="doadd()">
    <label class="item item-input">
        <div class="input-label" >
          With Whom
        </div>
        <div> Who is been chosen </div>
        <a class="icon ion-plus-round" href="#/app/choosefriends"></a>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" >
          Type
        </div>
        <select ng-model="choice">
          <option ng-value="'owed'" selected>owes me</option>
          <option ng-value="owe">I owe</option>
        </select>
      </label>
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style="float:right">$</span>
          <input type="text" ng-model="addData.money" placeholder="0.00">
        </label>
        <label class="item item-input">
          <span class="input-label">for</span>
          <input type="text" ng-model="addData.description" placeholder="description">
        </label>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="addData.date">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

